---
import BaseLayout from '../layouts/BaseLayout.astro'
import FaqItem from '../components/FaqItem.astro'
import FaqItemReact from '../components/FaqItemReact.jsx'
import FaqItemVue from '../components/FaqItemVue.vue'
---

<BaseLayout title="Sobre mi">

  <FaqItem title="Primera pregunta Astro">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus
      accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
      tellus mollis orci, sed rhoncus sapien nunc eget.
    </p>
  </FaqItem>

  <FaqItemReact  title="Segunda pregunta React">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus
      accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
      tellus mollis orci, sed rhoncus sapien nunc eget.
    </p>
  </FaqItemReact>

  <hr style="height: 1000px" />

  <FaqItemVue client:visible title="Segunda pregunta Vue">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus
      accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis
      tellus mollis orci, sed rhoncus sapien nunc eget.
    </p>
  </FaqItemVue>

</BaseLayout>