---
  import BaseLayout from '../../layouts/BaseLayout.astro'

export async function getStaticPaths() {
  const response = await fetch('https://jsonplaceholder.typicode.com/posts');
  const allPosts = await response.json();
  return allPosts.map(post => {
    return {
      params: { pid: String(post.id) },
    };
  });
}

const { pid } = Astro.request.params;
const content = await fetch('https://jsonplaceholder.typicode.com/posts/' + pid);
const page = await content.json();
const title = page.title;
---
<BaseLayout title={title}>
  <p>{page.body}</p>
</BaseLayout>