<template>
  <details>
    <summary class="vue-summary">{{ title }}</summary>
    <slot></slot>
  </details>
</template>

<script>
export default {
  props: {
    title: {
      type: String
    }
  }
}
</script>