---
// src/layouts/BaseLayout.astro
const {title} = Astro.props;
---
<html>
  <head>
    <title>Example Layout: {title}</title>
  </head>
  <body>
    <!-- Adds a navigation bar to every page. -->
    <nav>
      <a href="/">Home</a>
      <a href="/blog">Posts</a>
      <a href="/about">About</a>
    </nav>
    <section>
      <h1>{title}</h1>
      <!-- slot: your page content will be injected here. -->
      <slot />
    </section>
  </body>
</html>

<style lang="scss">
  body {
    font-family: sans-serif;
  }
  nav {
    background: #eee;
    padding: 1em;
    a {
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      color: #000;
    }
  }
  nav a:hover {
    background: #ccc;
  }
  section {
    padding: 1em;
  }

</style>